# eclipse
/.classpath
/.project
/.settings

# intellij
/.idea
/*.iml

# gradle
/build
/.gradle

# integration tests
xenon.test.properties
/xenon_test

# Docker
/src/integrationTest/docker/xenon-gridftp/files
