# eclipse
/.classpath
/.project
/.settings

# intellij
/.idea
/*.iml
/*/*.iml
/*.ipr
/*.iws

# gradle
/build
/*/build
/.gradle

# integration tests
/filesystem-test-fixture

# Rendered Jekyll site
/docs/_site

# Sonar
/.scannerwork
/.sonarlint
/build-eclipse/
