language: java
jdk:
  - oraclejdk7
  - openjdk7
  - oraclejdk8
sudo: false
cache:
  directories:
  - .gradle
  - $HOME/.gradle
  - lib
addons:
  apt_packages:
    - pandoc
    - texlive
script: ./gradlew check -xintegrationTest
